#readyImgBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 300px; */
}

#readyImgBox img{
    width: 350px;
    height: 350px;
}

#readyImgBox > div:nth-child(1){
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}