@import url(../common/header.css);
@import url(../common/footer.css);
@import url(../common/fonts.css);
@import url(../common/global.css);
@import url(../common/variables.css);
/* ---------------------------------------------------------- */

/* 콘텐츠 */
#content {
    display: flex;
    /* 콘텐츠 전체 크기(높이) 수정 부분 입니다 */
    height: 1500px;
}
/* 컨텐츠 공간 */
#content > section {
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
}

/* ---------------------------------------------------------- */




/* 컨텐트 영역 */

.content-container{
    display: flex;
    height: 1950px;
    width: 1280px;
    justify-content: center;
}


#left-space{
    /* background-color: red; */
    flex-basis: 5%;
}

#right-space{
    /* background-color: red; */
    flex-basis: 5%;
}

#middle-area{
    display: flex;
    flex-basis:90%;
    flex-direction: column;
    margin-top:50px;
    margin-right:60px;
}


#middle-area2{
    margin: 50px 0;
}


.topQuestion{
    height: 100px;
    width: 100%;
    /* border:1px solid brown; */
    display: flex;
    flex-direction: column;
}

.topQuestion > div:nth-child(1) > span {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.639);
}


.topQuestion > div:nth-child(1){
    display: flex;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top : 30px;
}

.topQuestion > div:nth-child(2){
    display: flex;
    width: 100%;
    height: 100%;
    /* border : 1px solid greenyellow; */
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.639);
    margin-top : 30px;
}


#topOfList{
    display: flex;
    /* background-color: black; */
    /* color: white; */
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100px;
    border-top: 3px solid grey;
    border-bottom: 2px solid rgba(0, 0, 0, 0.221);
}

#topOfList > div:nth-child(1){
    flex-basis: 10%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
   
}

#topOfList > div:nth-child(2){
    flex-basis: 60%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding-right: 110px;
}

#topOfList > div:nth-child(3){
    flex-basis: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding-right: 152px;
}

#topOfList > div:nth-child(4){
    flex-basis: 10%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}





.middleListOutBox{
    height: 750px;
    display: flex;
    /* border: 1px solid orange; */
    flex-direction: column;
}





.middleOfList{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.221);
    z-index: 5;

}

.middleOfList > div:nth-child(1){
    flex-basis: 10%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.middleOfList > div:nth-child(2){
    flex-basis: 40%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

#textOverFlow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    height: 20px;
}




/* ===================================================== */

.answerBox{
    background-color: #d1d5d6;
    width: 100%;
    display: none;
    height: 250px;
}

/* 앤서박스 안  질문박스 */
.questionTitleBox {
    display: flex;
    width: 100%;
    height: 100px;
}

.questionTitleBox > div:nth-child(1){ 
    flex-basis: 90%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#questionP {
    padding-left: 50px;
    width: 70%;
}

.questionTitleBox > div:nth-child(2){
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:15px;
}


.questionTitleBox > p, .answerInnerBox > p{
    margin-left: 50px;
}

.questionTitleBox  button {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    /* background-color: #2678F3; */
    margin-right: 50px;
    border: 3px solid #6aafe6;
    color: #6e6e6e;
    font-size: 15px;
    font-weight: bold;
}

#inquiryUpdate{
    margin-top: 23px;
}

.questionTitleBox  button:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}


.questionTitleBox  button:active {
    transform: scale(1.5);
}

/* ============================= */

/* 앤서 박스 안  답변박스 */


.answerTitleBox {
    display: flex;
    width: 100%;
    height: 100px;
}

.answerInnerBox{
    flex-basis: 70%;
    display: flex;
    align-items: center;
}


/* 앤서 박스 안 텍스트 에리어  */

.answerBoxTextArea {
    width: 750px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #7f7f80ae;
    border-radius: 5px;
    font-size: 17px;
    resize: none;
    outline: none;
    margin-left: 30px;
    margin-top: 15px;
}

/* 텍스트 에리어 수정확인 버튼 */
.btnUpdate {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    margin-right: 50px;
    border: 3px solid #6aafe6;
    color: #6e6e6e;
    font-size: 15px;
    font-weight: bold;
    margin-left:100px;
}

.btnUpdate:hover{
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;

}

.btnUpdate:active{
    transform: scale(1.5);
}
/* 텍스트 에리어 수정취소 버튼 */
.btnCancel {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    margin-right: 50px;
    border: 3px solid #6aafe6;
    color: #6e6e6e;
    font-size: 15px;
    font-weight: bold;
    margin-left:100px;
    margin-top: 23px;
}

.btnCancel:hover{
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;

}

.btnCancel:active{
    transform: scale(1.5);
}




/* ===================================================== */

.middleOfList > div:nth-child(3){
    flex-basis: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.middleOfList > div:nth-child(4){
    flex-basis: 10%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}


#writingBtnBox{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}


  


#btnOfWriting{
    width: 115px;
    height: 40px;
    border-radius: 8px;
    /* background-color: #2678F3; */
    margin-right: 50px;
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}

#btnOfWriting:hover{
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

#btnOfWriting:active{
    transform: scale(1.5);
}


#numListBtnBox > a , #numListBtnBox2 > a{
    width: 30px;
    height: 20px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.numListBox{
    display: flex;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
}




#listBox {
    list-style: none;
} 


/* #listBox > a {
    font-size:20px;
    text-decoration: none;
    color: rgb(192, 192, 192);
    margin-right: 10px;
    margin-left: 10px;
} */

.numListBox  a {
    font-size:20px;
    text-decoration: none;
    color: rgb(192, 192, 192);
    margin: 0 10px;
}

.active > a {
    font-size: 22px;
	color : black;
}


#numListBtnBox{
    margin-right: 15px;
}

#numListBtnBox2{
    margin-left: 15px;
}




/* =============================================== */