
.container{
    width: 1280px;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 30%;
}



.info-bar{
    
    border-bottom: 2px solid grey;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.info-bar span{
    color: gray;
    font-size: 25px;
    padding: 10px;
}

.info-bar span:first-child{
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.info-bar div:first-child{
    margin-bottom: 10px;
}

.info-bar > div:last-child{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#remove-button{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
}


.cart-in-product{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.cart-in-product-border{
    flex-basis: 70%;
    scale: 0.9;
    display: flex;
    border: 1px solid gainsboro;
}

.price-tag{

    flex-basis: 30%;
}

.cart-in-product-border > div:nth-child(1){
    flex-basis : 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-in-product-border > div:nth-child(2){
    flex-basis : 25%;
}
.cart-in-product-border > div:nth-child(3){
    flex-basis : 10%;
    display : flex;
    
    justify-content: center;
    align-items: center;
}
.cart-in-product-border > div:nth-child(4){
    flex-basis : 20%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cart-in-product-border > div:nth-child(5){
    flex-basis : 17%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#cart-remove-x{
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}



.img-div{
    border: 1px solid gainsboro;
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-div > img{
    width: 90%;
    height: 90%;

}

.product-detail-price{
    display: flex;
    flex-direction: column;
}

.product-detail-price>div:nth-child(1){
    flex-basis: 80%;
    margin: 15px;
}
.product-detail-price>div:nth-child(2){
    flex-basis: 20%;
    margin : 15px;
}

.prc-color{
    color: #7E1212;
    font-weight: bold;
}

.counting > div{
    display: flex;
}

#counting-input{
    width: 25px;
}


.price-tag{
    border-top: 1px solid gainsboro;
    display: flex;
}

.price-tag > div{
    margin : 20px;
}

.price-tag>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    flex-basis : 75%;
}
.price-tag>div:nth-child(2){
    flex-basis : 25%;
    margin-left: 20px;
}

#pay-button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #2678F3;
    border-color: #2678F3;
    color: white;
    cursor: pointer;
}

.post-slider{
    
    margin-top: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .post-slider .post-wrap{
    border: 1px solid gainsboro;
    width:800px;
    height:200px;
    margin:0px auto;
    display: flex;
  }
  .post-slider .post-wrap .post{
    margin: auto;
    width:400px;
    height:200px;
    display:inline-block;
  }

 .post img{
    width : 100%;
    height: 100%;
    scale: 0.8;
 }

 .slick-prev, .slick-next{
    background-color: transparent;
    border: 0;
 }


 .post-slider > p{
    font-size: 30px;
    font-weight: bold;
 }

a{
    color: black;
    text-decoration: none;
}


p {
    font-weight: bold;
}

button{
    cursor: pointer;
}

.emptyList{
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	
}
