
/* input박스 X버튼 제거 */
/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
body {
    margin: 0;
    padding: 0;
}


/* 헤더 */
header{
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
#header-box {
    width: 1280px;
    min-width: 750px;
    display: flex;
    align-items: center;
    margin: auto;
}

@media all and (max-width: 800px){
	.list-nav{
	    display:none;
	}
	
	.mypage-nav{
		display : none;
	}
}

@media all and (min-width: 800px){

	.menu-btn{
		display : none;
	}
	
	.mypage-menu-btn{
		display : none;
	}
	
}

.menu-btn{
	position: relative;
	
}

.menu-list{
	display : none;
	width: 100%;
}

.list-menu-div{
	position :absolute;
	display: none;	
	margin-left: 10px;
	margin-top : 2px;
	flex-direction : column;
	align-items: center;
	justify-content: center;
	border : 1px solid black;
	border-radius: 3px;
	width: 140px;
	background-color: rgba(241, 240, 238, 1);
}

.menu-list li{
	 display: none; 
	 text-align: center;
}

.menu-list li > a{
	 font-size: 17px;
}

.menu-btn:hover .menu-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu-btn:hover li{
	display: block;
	font-size:15px;
	padding : 4px;
}

.menu-btn:hover .list-menu-div{
	display: flex;
}


.mypage-menu-btn{
	display : relative;
}

.mypage-menu-div{
	position :absolute;
	display: none;	
	right: 20px;
	margin-top : 2px;
	flex-direction : column;
	align-items: center;
	justify-content: center;
	border : 1px solid black;
	border-radius: 3px;
	width: 140px;
	background-color: rgba(241, 240, 238, 1);
}
.mypage-menu-list li{
	 display: none; 
	 text-align: center;

}

.mypage-menu-list li > a{
	 font-size: 17px;
}
.mypage-menu-btn:hover .mypage-menu-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mypage-menu-btn:hover li{
	display: block;
	font-size:15px;
	padding : 4px;
}

.mypage-menu-btn:hover .mypage-menu-div{
	display: flex;
}



.menu-icon{
	font-size:30px;
	margin-left :20px;
	cursor: pointer;
}

/* 헤더박스 공간 분할 */
#header-box > section:nth-child(1){
    flex-basis: 10%;
}
#header-box > section:nth-child(2){
    flex-basis: 30%;
    min-width: 260px;
}
#header-box > section:nth-child(3){
    flex-basis: 38%;
    min-width: 160px;
}
#header-box > section:nth-child(4){
    flex-basis: 23%;
    min-width: 250px;
}

/* 메뉴, 검색, 마이페이지 */
header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#header-box-menu li{
    margin: 0px 20px;
}
#header-box-mypage {
    display: flex;
    justify-content: flex-end;
}
#header-box-mypage li{
    margin: 0px 15px;
}
header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
#search-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#search-area fieldset {
    width: 150px;
    height: 35px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    position: relative;
    border: 1px solid transparent;
}
#query {
    width: 115px;
    height: 30px;
    overflow-y: scroll;
    font-size: 13px;
    position: absolute;
    top: 2px;
    left: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}
#search-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 2px;
    cursor: pointer;
}



/* 푸터 */
footer {
    height: 200px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 푸터박스 공간 */
#footer-box {
    width: 1280px;
}
/* 푸터박스 위 내용 */
#footer-box > section {
    height: 150px;
    display: flex;
}
/* 푸터박스 아래 내용 */
#footer-box > article {
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
}


#footer-box > article a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
#footer-box > article span {
    color: rgba(0, 0, 0, 0.5);
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 140px;
}
.footer-nav {
    display: flex;
    width: 100%;
}
.footer-nav pre{
    font-size: 12px;
}
.footer-nav > div:nth-child(1) {
    flex-basis: 10%;
    min-width: 140px;
}
.footer-nav > div:nth-child(2) {
    flex-basis: 30%;
}
.footer-nav > div:nth-child(3) {
    flex-basis: 30%;
}
.footer-nav > div:nth-child(4) {
    flex-basis: 30%;
}

#footer-title {
	font-size: 16px; 
	font-weight: bold;
}
#footer-img {
	height: 20px;
}



.content-container{
    display: flex;
    height: 100%;
    width: 1280px;
    justify-content: center;
    margin : 0 auto;
} 


.content-container a{  
    text-decoration: none;
    color: black;
}

.content-container a:hover  {
    text-decoration:underline;
}



/* 왼쪽사이드 */
.leftSide {
    flex-basis : 15%;
    /* background-color:aqua; */
}

/* 가운데메인영역 */
.center {
    flex-basis : 70%;
    display: flex;
    flex-direction: column;
    /* background-color:pink; */
}

/* 오른쪽사이드 */
.rightSide {
    flex-basis : 15%;
    padding: 5px;
    /* position: relative;
    justify-content: center;
    align-items: center;
    justify-content: center; */
    /* background-color:green; */
 
}


/* -------------------- 오른쪽 사이드 영역 --------------------  */
