

.container{
    width: 1280px;
    height: 100vh;
    margin : auto
}

.info-bar{
    width: 80%;
    height: 100px;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: auto;

}

.info-bar span:first-child{
    font-weight: bold;
    color: black;
    margin-left: 10px;
    font-size: 25px;
    padding: 10px;

}

.info-bar > div:first-child{
    margin-bottom: 10px;

}

.info-bar > div:last-child{
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgba(220, 220, 220, 0.929);
    margin-bottom: 10px;
}

.outer-line{
    border : 1px solid gainsboro;
    margin : auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
}

.price-tag{
    flex-basis: 30%;
}

.img-div > img{
    width: 80%;
    height: 80%;

}

.refund-in-product-border{
    display: flex;
    justify-content: center;
    align-items: center;
	width:100%;
    height: 90%;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}

.refund-in-product-border>div{

    text-align: center;
}


.refund-in-product-border>div:nth-child(1){
    flex-basis: 25%;
 
}
.refund-in-product-border>div:nth-child(2){
    flex-basis: 25%;

}
.refund-in-product-border>div:nth-child(3){
    flex-basis: 30%;
}
.refund-in-product-border>div:nth-child(4){
    flex-basis: 20%;
}


.product-detail-price{
    align-self: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.product-detail-price > div:first-child{
    flex-basis: 70%;
    margin-bottom : 70px;
}

.product-detail-price > div:last-child{
    flex-basis: 3%;
}

.price-tag{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}


.price-tag > div:first-child{
    margin-left: 40px;
    font-size:20px;
}

.price-tag > div:last-child{
    margin-right: 10px;
}

#refund-button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #2678F3;
    border-color: #2678F3;
    color: white;
    cursor: pointer;
}

#back-button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #2678F3;
    border-color: #2678F3;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}



a{
    color: black;
    text-decoration: none;
}


p {
    font-weight: bold;
}

button{
    cursor: pointer;
}

.not-exist-refund{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 20px;
	margin-top : 100px;
	flex-direction: column;
}



