
.content{
    width: 1280px;
    height: 150%;
    margin : auto;
    display:flex;
    flex-direction: column;
    overflow: auto;
}



/* 환불 바 */
.info-bar{
    width: 80%;
    height: 100px;
    margin: auto;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: flex-end;
    position: relative;
    

}

.info-bar span:first-child{
    font-weight: bold;
    color: black;
    margin-left: 10px;
    font-size: 25px;
    padding: 10px;

}

.info-bar > div:first-child{
    margin-bottom: 10px;

}

.info-bar > div:last-child{
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.info-bar > div:last-child > span{
    font-size: 15px;
}

.menu-head{
    display: flex;
    height: 25px;
    
}

.menu-head > div{
    padding-top: 2px;
    text-align: center;
    font-size: 10px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.out-line{

    margin: auto;
    width: 80%;

}
.menu-head >div {
    font-size: 14px;
}

.menu-head >div:nth-child(1){
    flex-basis: 40%;
}
.menu-head >div:nth-child(2){
    flex-basis: 15%;
}
.menu-head >div:nth-child(3){
    flex-basis: 15%;
}
.menu-head >div:nth-child(4){
    flex-basis: 30%;
}

/* 상품 목록 */

.goods-detail{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-detail>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-detail > div:nth-child(1){
    flex-basis: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 상품 이미지 */
#goods-image{
    width: 80%;
    height: 80%;
}
/* 상품 설명 */
.goods-detail > div:nth-child(2){
    flex-basis: 20%;
    height: 100%;
    font-size: 13px;
    padding-top: 15px;
    justify-content: baseline;
    align-items: baseline;

}
.goods-detail > div:nth-child(3){
    flex-basis: 15%;
    height: 100%;
}
.goods-detail > div:nth-child(4){
    flex-basis: 15%;
    height: 100%;
}
.goods-detail > div:nth-child(5){
    flex-basis: 30%;
    height: 100%;
}

.last-line{
    height: 30px;
    display: flex;
    justify-content: end;
    background-color: rgba(38, 120, 243, 10%);
}

.last-line > div{
    margin-top: 6px;
}

.end-line{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: end;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid gray;
}

.end-line > span{
    font-size: 15px;
}

a{
    color: black;
    text-decoration: none;
}


p {
    font-weight: bold;
}

button{
    cursor: pointer;
}
