
#content {
    width: 400px;
    height: 600px;
    margin: 100px auto;
}
.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.input-box{
    width: 400px;
    height: 45px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.login-btn .btn{
    margin: 20px 0px 0px 0px;
    background-color: #2678f3;
    color: white;
    letter-spacing: 5px;
}
.btn {
    width: 400px;
    height: 50px;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.signUp-btn {
    width: 400px;
    height: 50px;
    font-size: 16px;
    color: #2678f3;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #2678f3;
    cursor: pointer;
    letter-spacing: 5px;
    margin: 10px 0px;
}

.status {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.status > div:nth-child(1){
    color:rgba(0, 0, 0, 0.5);
}
.status > div:nth-child(2) > a{
    text-decoration: none;
    color: #2678f3;
}

.kakao {
    background-color: #FEE500;
}
.google {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#loginResult {
    color: rgb(251, 157, 167);
}