
#content {
    width: 400px;
    height: 900px;
    margin: 100px auto;
}
.title {
    text-align: center;
}
.title > div:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.title > div:nth-child(2) {
    font-size: 21.33px;
    margin-bottom: 30px;
}
.input-box{
    width: 400px;
    height: 45px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.signUp-btn .btn{
    margin: 30px 0;
    background-color: #2678f3;
    color: white;
    letter-spacing: 3px;
}
.btn {
    width: 400px;
    height: 50px;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.kakao {
    background-color: #FEE500;
}
.google {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#cert1 {
    position: relative;
}
.cert1 {
    position: absolute;
    background-color: #2678f3;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    width: 75px;
    height: 30px;
    right: 10px;
    top: 17px;
}
#cert2 {
    position: relative;
}
.cert2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: black;
    width: 75px;
    height: 30px;
    right: 10px;
    top: 17px;
}

.agree-box1 {
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
    color:rgba(0, 0, 0, 0.5);
}
.agree-box2 {
    margin-top: 10px;
    width: 400px;
    height: 0px;
    overflow: hidden;
}
.agree-box2 > div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.agree-box2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    
}
.agree-box2 button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

form > div {
    position: relative;
}
.common{
    position: absolute;
    top: 23px;
    left: 20px;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.common1 {
    position: absolute;
    color: #2678f3;
    background-color: white;
    top: 0px;
    left: 15px;
    font-size: 14px;
    transition-duration: 1s;
}
.common2 {
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    background-color: white;
    top: 0px;
    left: 15px;
    font-size: 14px;
}

.confirm {
    color: rgb(142, 182, 149);
}
.error {
    color: rgb(251, 157, 167);
}